/* You can add global styles to this file, and also import other style files */
footer{
  height: 300px;
}
li{
  float: left;
  font-size: 30px;
  padding-right: 50px;
  color: White;
  font-style: oblique;
}
h2{
  font-size: 30px;
  color: White;
  font-style: oblique;
  padding-left: 470px;
}
