<div style="display: flex;flex-direction: row; background-image: url('https://a-static.besthdwallpaper.com/pokoj-tlo-tapeta-3554x1999-30572_53.jpg');">
  <app-menu></app-menu>
  <div class="content" style="width: 100%;">
  <div class="content-header">
  <h2>DASHBOARD</h2>
</div>
<div style="width: 60%; background-color: white;">
  <div style="display: block">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
<button mat-button mat-raised-button color="primary"
(click)="randomize()">Update</button>
</div>
<div class="content-container">
  <h2>Zamówienia</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Cena</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of this.mainService.orders.orders">
        <td style="border-style: solid; color: white;">{{order.id}}</td>
        <td style="border-style: solid; color: white;">{{order.first_name}}</td>
        <td style="border-style: solid; color: white;">{{order.last_name}}</td>
        <td style="border-style: solid; color: white;">{{order.email}}</td>
        <td style="border-style: solid; color: white;">{{order.phone}}</td>
        <td style="border-style: solid; color: white;">{{order.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
