<app-panel-top></app-panel-top>

<button routerLink="/landing">Powrót</button>

<div class="products" style="background-image: url('https://wallpapertag.com/wallpaper/full/8/9/7/186797-beautiful-black-background-tumblr-1920x1200-for-full-hd.jpg')">
    <table style="margin:0 auto;">
        <thead *ngIf="this.mainService.products">
            <tr>
                <th>obrazek</th>
                <th>dane</th>
                <th>akcje</th>
            </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let product of this.mainService.products?.productsTable" >
          <tr>
            <td><img src="{{product.thumbnail}}" alt="">
            </td>
            <td>
              <ul>
                <li>Tytuł: {{product.title}}</li>
                <li>Cena: {{product.price}}</li>
                <li>Kategoria: {{product.category}}</li>
              </ul>
            </td>
            <td>
              <button (click)="addToCart(product)">Do koszyka</button>
            </td>
          </tr>
        </ng-container>
        </tbody>
    </table>
</div>
